<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Stats</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<body>
    <table>
        <tr>
            <th>State</th>
            <th>Total Cases</th>
            <th>New Cases Today</th>
            <th>Total Deaths</th>
            <th>New Deaths Today</th>
            <th>% Active</th>
            <th>% Recovered</th>
            <th>% Dead</th>
        </tr>
        <tr>
            <td><%= state %></td>
            <td><%= cases %></td>
            <td><%= todayCases %></td>
            <td><%= deaths %></td>
            <td><%= todayDeaths %></td>
            <td><%= infected %>%</td>
            <td><%= recovered %>%</td>
            <td><%= dead %>%</td>
        </tr>
    </table>
</body>
</html>